<!DOCTYPE html>
<html>
    <head>
        
        <title><%= eventName %></title>
        <meta charset ="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">        
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    </head>
    <style>
     h1{
        text-align: center
     }
    
    </style>
    <body>
        <%include ./header.ejs%><br>
        <div class="container">
            <div class ="jumbotron">
                <div class ="container-fluid">
                    <div class= "row">
                        <div class="col-md-12">
                            <h1>
                                <%= eventName%> </h1>
                            </div>
                    </div>
                    <div class = "row">
                        <div class="col-md-4">
                    <h2>FORMAT</h2>
                        <p><%= battleFormat%> <%= style%></p>
                        </div>
                        <div class="col-md-4">    
                            <h2>DATE</h2>
                            <p><%= date%></p>
                        </div>
                        <div class="col-md-4">
                    <h2>PRIZE</h2>
                        <p><%= prize %></p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
                <div class="panel-heading"><h3>LOCATION</h3></div>
                <div class="panel-body">
                        <p><%= location%></p>
                    </div>
              </div>
              <div class="panel panel-default">
                    <div class="panel-heading"><h3>JUDGES</h3></div>
                    <div class="panel-body">
                            <ul>
                                <% for (var i = 0; i < judges.length; i++) { %>
                
                                    <% var judgePath = "/judgePage/" + judges[i]; %>
                                    <% var votePath = "/eventPage/" + eventName + "/" + judges[i] + "/vote"; %>
                                    
                                    <li><a href=<%= judgePath %> > <%= judges[i] %></a>  <a href=<%= votePath%>> Vote</a></li>
                
                                <% } %>
                            </ul>
                    </div>
                  </div>
                  
                  <div class="panel panel-default">
                        <div class="panel-heading"><h3>MC</h3></div>
                        <div class="panel-body">
                                
                                <p> <%=MC%> </p>
                        </div>
                      </div>
                      <div class="panel panel-default">
                            <div class="panel-heading"><h3>DJ</h3></div>
                            <div class="panel-body">
                                    <p> <%=DJ%></p>
                            </div>
                          </div>
                          <div class="panel panel-default">
                                <div class="panel-heading"><h3>SIGNED UP</h3></div>
                                <div class="panel-body">
                                        
                                    <% var eventSignUp = "/eventPage/" + eventName + "/signUp" %>
                                    
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Signed-Up </th>
                                            </tr>
                                        </thead>
                                        <tbody> 
                                        <% if( attendence.length > 1 ) { %>
                                        <% for( var i = 1; i < attendence.length; i++) { %>
                                            <% var path = "/userPage/" + attendence[i]; %>
                                            
                                            <tr>
                                            <td> <a href=<%=path %>> <%=attendence[i]%></a> </td>
                                            </tr>
                                            <% }%>
                                        <% } else {%>
                                            <tr>
                                                    <td> Currently No Entries! </td>
                                                    </tr>
                                        <% } %>
                                        </tbody>
                                    </table>   
                                    <a href=<%=eventSignUp %>>Sign Up!</a> 
                                </div>
                              </div>
                                                                              
        
        
        
        
    </body>
</html>
