<!DOCTYPE html>
<html>

<head>

    <title>Judge Page </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">"
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script> </head>

<body>
    <%include ./header.ejs%>
        <%
    var calcStats = function(judge){
        var totalVotes = judge.styleVotes + judge.powerVotes + judge.abstractVotes ;
        if(totalVotes == 0){
            return{
                "style" : "Voted Style: " + 0 + "% of the time",
            "power" : "Voted Power: " + 0 + "% of the time",
            "abstract" : "Voted Abstract: " + 0 + "% of the time",
            }
        }
        return{
            
        "style" : parseFloat(judge.styleVotes/totalVotes * 100).toFixed(2),
        "power" : parseFloat(judge.powerVotes/totalVotes * 100).toFixed(2) ,
        "abstract" : parseFloat(judge.abstractVotes/totalVotes * 100).toFixed(2) ,
        }
    }
    %>
            <div class="container-fluid">
                <div class="row">
                        <div class="col-md-3">
                            <div class="panel panel-default">
                                
                                        <div class="panel-heading"><h1><%= judgeName%></h1></div>
                                        <div class="panel-body">
                                                <img src="/stockPhoto.jpg" width="200" height="200">
                                                
                                                                        
                                        </div>
                                </div>
                                    
                                </div>
                      
                    
                    <div class="col-md-3">
                            <div class="panel panel-default">
                                    <div class="panel-heading"><h1>Experience in <%= style %></h1></div>
                                    <div class="panel-body">
                                        
                                                                    <blockquote>
                                                                    <p> I've been dancing for
                                                                        <%=experience %> years!</p>
                                                                    </blockquote>
                                    </div>
                                  </div>
                      
                    </div>
                    
                          
                    <div class="col-md-6">
                            <div class="panel panel-default">
                                    <div class="panel-heading"><h1><%= judgeName %>'s Paradigms</h1></div>
                                    <div class="panel-body">
                                            <p>
                                                    <blockquote>
                                                    <%= paradigms %>
                                                </blockquote>
                                                </p>
                                    </div>
                                  </div>
                        
                    </div>
                </div>
                
                      
                <div class="row">
                        
                    <div class="col-md-12">
                            <div class="panel panel-default">
                                    <div class="panel-heading"><h2>Voting Statistics</h2></div>
                                    <div class="panel-body">
                                            <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th> Category</th>
                                                            <th> Preference</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% if(judgeInfo != "NULL"){ %>
                                                        <%var stat = calcStats(judgeInfo)%>
                                                        <% console.log(stat)%>
                                                                    <tr>
                                                                        
                                                                        <td> Style </td>
                                                                        <td> <%=stat.style%>%</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td> Power </td>
                                                                        <td> <%=stat.power%>%</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td> Abstract </td>
                                                                        <td> <%= stat.abstract %>%</td>
                                                                    </tr>
                                                        <%}%>
                                                    </tbody>
                                                </table>
                                    </div>
                                  </div>
                    </div>
                    
                    



                </div>
            </div>
            </div>
</body>

</html>