<!DOCTYPE html>
<html>
    <head>
        <meta charset ="UTF-8">
        <title><%= judgeName %></title>
        <link rel = 'stylesheet' href='/stylesheets/style.css'/>
    </head>
    <body>
        <h1>Experience in <%= style %></h1>
            <p>This is the Judge's experience!
                I've been dancing for <%=experience %> years!
            </p>
        <h2>Paradigms</h2>
            <p>These are the <%=judgeName%>'s paradigms!</p>
        <h3>Photo</h3>
        <h4>Voting Statistics</h4>
            <p><%= stats %></p>
    </body>
</html>
