<!DOCTYPE html>
<html>

<head>

    <title>Judge Page </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">"
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script> </head>

<body>
    <%include ./header.ejs%>
        <%
    var calcStats = function(judge){
        var totalVotes = judge.styleVotes + judge.powerVotes + judge.abstractVotes ;
        if(totalVotes == 0){
            return{
                "style" : "Voted Style: " + 0 + "% of the time",
            "power" : "Voted Power: " + 0 + "% of the time",
            "abstract" : "Voted Abstract: " + 0 + "% of the time",
            }
        }
        return{
        
        "style" : "Voted Style: " + judge.styleVotes/totalVotes * 100 + "% of the time",
        "power" : "Voted Power: " + judge.powerVotes/totalVotes * 100 + "% of the time",
        "abstract" : "Voted Abstract: " + judge.abstractVotes/totalVotes * 100 + "% of the time",
        }
    }
    %>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <h1>
                            <%= judgeName%>
                        </h1>

                        <img src="/stockPhoto.jpg" width="100" height="100">

                        <h2>Experience in
                            <%= style %>
                        </h2>
                        <p> I've been dancing for
                            <%=experience %> years!</p>

                    </div>

                    <div class="col-md-6">
                        <h1>
                            <%= judgeName %>'s Paradigms</h1>
                        <p>
                            <%= paradigms %>
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12"></div>
                    <table class="table">
                        <thead>
                                <h2>Voting Statistics</h2>
                            <tr>
                                <th> Category</th>
                                <th> Preference</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if(judgeInfo != "NULL"){ %>
                            <%var stat = calcStats(judgeInfo)%>
                            <% console.log(stat)%>
                                        <tr>
                                            <td> Style </td>
                                            <td> <%=stat.style%></td>
                                        </tr>
                                        <tr>
                                            <td> Power </td>
                                            <td> <%=stat.power%></td>
                                        </tr>
                                        <tr>
                                            <td> Abstract </td>
                                            <td> <%= stat.abstract %></td>
                                        </tr>
                            <%}%>
                        </tbody>
                    </table>
                    



                </div>
            </div>
            </div>
</body>

</html>