<!DOCTYPE html>
<html>
    <head>
        <meta charset ="UTF-8">
        <title>All <%= whichList%>s </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        
    </head>
    <body>
        <%include ./header.ejs%>
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name of <%= whichList%> </th>
                </tr>
            </thead>
            <tbody>
            <% var newPage; %> 
                
            <% for( var i = 0; i < arr.length; i++) { %>
                <% var path; %>
                <tr>
                <% var listName = arr[i].replace(/_/g," ")%>
                <% if ( whichList == "Events") {%>
                    <% var path = "eventPage/" + arr[i]; %>
                    <% newPage = "/newEvent" %>
                <% } else if(whichList == "Users") { %>
                    <% var path = "userPage/" + arr[i]; %>
                    <% newPage = "/newUser" %>
                <% } else { %>
                    <% var path = "judgePage/" + arr[i];  %>
                    <% newPage = "/newJudge"; } %>
                <td> <a href=<%=path %>> <%= listName%></a> </td>
                </tr>
                    <% }%>
                
            </tbody>
        </table>
        
    </div>
        <a href=<%=newPage%>> Make New <%= whichList%></a>
    
</body>
</html>
