<!DOCTYPE html>
<html>
    <head>
        <meta charset ="UTF-8">
        <title>Who Do You Vote For</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">        
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>    </head>
    <body>
        <h1>Competitors:</h1>
        <% var judgePath = "/judgePage/" + judgeName + "/vote"%>
        <form name= "Judge Decision" method="POST" action=<%= judgePath%>>
            <%= dancer1%> <input type="radio" name = "winner" value = <%= dancer1%>><br>
            <%= dancer2%> <input type="radio" name = "winner" value = <%= dancer2%>><br>
            tie: <input type="radio" name = "winner" value = "TIE"><br>

            <input type="submit" value= "Vote!"/><br><br>
            
        </form>
    </body>
</html>